<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<form th:action="@{/registration}" method="post">
    <div><label> Логин : <input type="text" name="username"/> </label></div>
    <div><label> Полное имя: <input type="text" name="password"/> </label></div>
    <div><label> Пароль: <input type="password" name="fullname"/> </label></div>
    <div><label> Email: <input type="text" name="email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"/> </label></div>
    <div><input type="submit" value="Add user"/></div>
</form>
</body>
</html>